{% extends "base.html" %} 
 
{% block page_title %}Blank {% endblock  %}
{%block content%}
      
<div id="content-page" class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12 col-lg-12">
             <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                   <div class="iq-header-title">
                      <h4 class="card-title">{{category.name}} </h4>
                   </div>
                </div>
                <div class="iq-card-body">
                   <ul class="list-group">
                      <li class="list-group-item">ID        :   {{category.id}}</li>
                      <li class="list-group-item">Name      :   {{category.name}}</li>
                      <li class="list-group-item">Active    :   
                        {% if category.active %}
                        <span class="badge dark-icon-light iq-bg-primary">Active</span>
                        {% else %}
                        <span class="badge iq-bg-danger">Inactive</span>
                        {% endif %} </li>
                   
                   </ul>
                </div>
             </div>
           
          </div>
    
       </div>
    </div>
 </div>

 {% endblock  %}